<div class="welcome-page">
    <img src="/node_modules/embercasts-library-styles/blueprints/embercasts-library-styles/files/public/book-shelf.svg"
    alt="Welcome">

    <h2>Добро пожаловать в "Книжный клуб" </h2>
    <hr>
    </div>