<div class="app">
    <nav class="main_nav">
        <h1 class="logo">
            <a href>
                <img src="/book.svg" alt="Книжный клуб" >
                <span class="sr_only"></span>
                </a>
        </h1>

        <ul>
            <li><a href>Библиотека</a></li>
            <li><a href>Докладчики</a></li>
            <li><a href>Подать заявку</a></li>
            <li><a href>Архив выступлений</a></li>
        </ul>
    </nav>

    <main class="app-content">{{outlet}}</main>
</div>
